
@media only screen and (max-width: 768px) {
  .social {
    position: fixed;
    top: 90%;
    left: -40px;
    bottom: 10px;
    height: 77%;
    overflow: auto;
    width: 100%;
    right: 0px;
  }
  .social a {
    position: relative;
    float: right;
    height: 50px;
    line-height: 50px;
    width: 50px;
    /* left: 0px; */
    color: rgb(255, 255, 255);
    margin: 1px 6px;
    font-size: 16px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 50%;
    transition: all 300ms ease;
   }
   .log{
    width: 100%
   }
   #date{
        font-size: 5vw !important;
   }
}



.log {
  display: none;
}

body {
  margin: 0;
  background-image: url("images/3.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
  color: white;
  width: 100%;
  height: 100%;
}

/*video#bgvid-cover {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    width: auto;
    height: auto;
    width: 100%;
    background-size: cover;
    z-index: -2;
}*/

.cl-effect-4 a.active::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    content: '';
    opacity: 1;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

/*
@media only screen and (min-width: 1500px){  video{
        transform: translateX(-9vw) translateY(-7vw) !important;
  }
}*/

  
nav a{
  padding: 0px !important
}
html {
  height: 100vh;
}

body {
  margin: 0;
  background-image: url("/images/3.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.back-image {
  height: 100vh;
  width: 100%;
  background-image: url("/images/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#my-nav {
  padding-top: 4%;
}

.nav-font {
  font-family: 'Raleway', sans-serif;
  /*TODO Add Media Query for container 100% for small width*/
  font-size: 1.5vw;
}

.nav-pad {
  padding: 1% !important;
}

.nav-hover:hover {
  background-color: rgba(255, 0, 0, .3);
}

/* TODO: Add media query to make heading responsive */
#techkriti {
  margin-top: 30vh;
  margin-bottom: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 5vw; 
  font-weight: 900;
}

#subtitle {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
 /* font-size: 2vw;*/
      margin-bottom: 0px;
}

#Graph {
  position: fixed;
  display: inline;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
}

#togglebtn {
  opacity: 0;
}

#togglebtn:hover {
  opacity: 1;
  border: 1px solid white;
}

.bottom-graph {¬
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.frequency {
    background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
  display: inline-block;
  bottom: 0;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}

.bottom-graph.frequency-time-large .frequency {
  background-color: rgba(183, 185, 182, 0.4);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
}
