body {
  background-color: #ddd;
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 3rem;
}

.nav-tabs {
      float: left;
    height: 100%;
    background-color: #333;
    border-bottom: 0;
    min-height: 457px;
  }
.nav-tabs li {
      font-family: roboto;
    font-size: 1.2em;
      float: none;
    padding: 10px 10px;
    margin: 0;
    border-top: 1px solid white;
    color: white;
    background-color: #333333;
}
.nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
}
.nav-tabs li a:hover {
  background-color: #444;
}
.nav-tabs .glyphicon {
  color: #fff;
}
.nav-tabs .active .glyphicon {
  color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane {
  display: none;
  min-height: 457px;
    background-color: rgba(255, 255, 255,0.65);
      padding: 1.6rem;
  overflow-y: auto;
  font-size: 1.3em;
      font-family: roboto;

}
.tab-content .active {
  display: block;
}

.list-group {
  width: 100%;
}
.list-group .list-group-item {
  height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
  line-height: 11px;
}
