


.event-nav li:hover{
  cursor: pointer;
}
html {
  height: 100vh;
}

body {
  margin: 0;
  /*background-image: url("/images/3.jpg");*/
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

#my-nav {
  padding-top: 2%;
}

.nav-font {
  font-family: 'Raleway', sans-serif;
  /*TODO Add Media Query for container 100% for small width*/
  font-size: 1.5vw;
}

.nav-pad {
  padding: 1% !important;
}

.nav-hover:hover {
  background-color: rgba(255, 0, 0, .3);
}

.event-nav {
  /*padding-top: .25%;*/
  margin-top: 12vmax;
}

.event-nav-font {
  font-family: 'Raleway', sans-serif;
  /*TODO Add Media Query for container 100% for small width*/
  font-size: 1.0vw;
}

.event-nav li {
  padding-bottom: 5% !important;
  padding-top: 5% !important;
}

.event-nav li:hover {
  background-color: rgba(255, 0, 0, .5);
}

.event-desc-holder {
  margin-top: 6vmax;
  height: 26vmax;
  background-image: url("http://placehold.it/900x500");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.more-events {
  position: fixed;
  /*top:98%;*/
  bottom: 0;
  /*margin: 0 auto;*/
  color: white;
  width: 100vw;
  text-align: center;
  z-index: -7000000;
}

#event-links {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.0vw;
  width: 100vw;
  background: black;
  bottom: 0;
  position: fixed;
  border: 2px solid white;
  display: none;
}

@keyframes event1 {
  from {transform: translateY(8vmax);}
    to {transform: translateY(0vmax);}
  }

#event-name {
  font-family: 'Raleway', sans-serif;
  font-size: 5.0vw;
  animation-name: event1;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.08,.82,.32,1.33);
} 

@keyframes event2 {
  from{transform: translateY(33vmax); opacity: 0;}
  to  {transform: translateY(0vmax); opacity: 1;}
}

#event-desc {
  font-family: 'Raleway', sans-serif;
  font-size: 1.0vw;
  overflow-y: scroll;
  animation-name: event2;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.08,.82,.32,1.33);
}

#event-links ul {
  list-style-type: none;
}

#event-links ul li {
  display: inline;
  padding: 1vw;
}
