body{
width:595px;
height:842px;
background: url("bg1.jpg");
background-size:contain;
margin-left:25%;
}
td{
width:10%;}
span{
display:block;
padding-top:140px;
font-size:20px;
margin-left:135px;}
table
{
display:block;
margin-top:5%;


}
