#sidenav-overlay{
  background-color: transparent;
  display: none;
}

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: rgba(95, 79, 79, 0.5);
}
.side-nav .collapsible li, .side-nav.fixed .collapsible li {
    background-color: #d7d7d7;
    border: 2px solid black;
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    border: none;
    line-height: inherit;
    height: inherit;
    font-size: 2.5vh;
    padding: 3px 16px;
}
.side-nav li.active {
    background-color: #907c7c !important;
}
.side-nav{
      background-color: #efeeee !important;

}
.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color: #2f2f2f;
}
